.page-header
  = link_to new_fleet_path, :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Fleet
  %h1 Listing fleets

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Instance type
        %th Instance count
        %th
        %th

    %tbody
      - @fleets.each do |fleet|
        %tr
          %td= fleet.instance_type
          %td= fleet.instance_count
          %td= link_to 'Show', fleet
          %td= link_to 'Destroy', fleet, :data => { confirm: 'Are you sure?' }, :method => :delete
