.page-header
  = link_to fleets_path, :class => 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  %h1 Show fleet

%dl.dl-horizontal
  %dt Provider region:
  %dd= @fleet.provider_region
  %dt Instance type:
  %dd= @fleet.instance_type
  %dt Instance count:
  %dd= @fleet.instance_count

%h2 Instances
.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Provider ID
        %th State
        %th
        %th
        %th

    %tbody
      - @fleet.instances.each do |instance|
        %tr
          %td= instance.provider_id
          %td= instance.state
          %td= link_to 'Show', [@fleet, instance]
